.env
frontend/indexed_docs
frontend/uploaded_files
frontend/converted_files.zip
indexed_docs
data
converter/app/preprocessed
converter/app/outputs
converter/app/uploads
converter/app/rapidocr_models
indexer/app/converted
*.pyc
TODO.txt